*{
  padding: 0%;
  box-sizing: border-box;
  margin: 0%;
}

.parent-div
{
    width:auto;
    height: auto;
    display:flex;
    flex-direction: row;
    border:2px solid black;
}
.side-bar,.main-content
{
  width:400px;
  height:100%;
  border:2px solid red;
}
.main-content
{
  width:100%;
  border:2px solid yellow;
}